/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

button:not(:disabled),
[role='button']:not([aria-disabled='true']),
label[for] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
